Globale/Web References/Log/Log.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://utools.auaonline.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://utools.auaonline.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://utools.auaonline.it/">
      <s:element name="LogClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgenziaMadre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="LogClientEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgenziaMadre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomePc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogClientExResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogClientSoapIn">
    <wsdl:part name="parameters" element="tns:LogClient" />
  </wsdl:message>
  <wsdl:message name="LogClientSoapOut">
    <wsdl:part name="parameters" element="tns:LogClientResponse" />
  </wsdl:message>
  <wsdl:message name="LogClientExSoapIn">
    <wsdl:part name="parameters" element="tns:LogClientEx" />
  </wsdl:message>
  <wsdl:message name="LogClientExSoapOut">
    <wsdl:part name="parameters" element="tns:LogClientExResponse" />
  </wsdl:message>
  <wsdl:portType name="LogSoap">
    <wsdl:operation name="LogClient">
      <wsdl:input message="tns:LogClientSoapIn" />
      <wsdl:output message="tns:LogClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogClientEx">
      <wsdl:input message="tns:LogClientExSoapIn" />
      <wsdl:output message="tns:LogClientExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LogSoap" type="tns:LogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogClient">
      <soap:operation soapAction="http://utools.auaonline.it/LogClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogClientEx">
      <soap:operation soapAction="http://utools.auaonline.it/LogClientEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogSoap12" type="tns:LogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogClient">
      <soap12:operation soapAction="http://utools.auaonline.it/LogClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogClientEx">
      <soap12:operation soapAction="http://utools.auaonline.it/LogClientEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Log">
    <wsdl:port name="LogSoap" binding="tns:LogSoap">
      <soap:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Log.asmx" />
    </wsdl:port>
    <wsdl:port name="LogSoap12" binding="tns:LogSoap12">
      <soap12:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Log.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>