Comunicazioni/Comunicazioni/Web References/WsComunicazioni/Comunicazioni.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.utools.it/asp/WsComunicazioni/Comunicazioni" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.utools.it/asp/WsComunicazioni/Comunicazioni" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.utools.it/asp/WsComunicazioni/Comunicazioni">
      <s:element name="ListaDocumenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UrlBaseDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaDocumentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaDocumentiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="UrlBaseDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaDocumentiArchivio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InizioPeriodo" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FinePeriodo" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="UrlBaseDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaDocumentiArchivioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaDocumentiArchivioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="UrlBaseDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Errore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaDocumentiSoapIn">
    <wsdl:part name="parameters" element="tns:ListaDocumenti" />
  </wsdl:message>
  <wsdl:message name="ListaDocumentiSoapOut">
    <wsdl:part name="parameters" element="tns:ListaDocumentiResponse" />
  </wsdl:message>
  <wsdl:message name="ListaDocumentiArchivioSoapIn">
    <wsdl:part name="parameters" element="tns:ListaDocumentiArchivio" />
  </wsdl:message>
  <wsdl:message name="ListaDocumentiArchivioSoapOut">
    <wsdl:part name="parameters" element="tns:ListaDocumentiArchivioResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ListaDocumenti">
      <wsdl:input message="tns:ListaDocumentiSoapIn" />
      <wsdl:output message="tns:ListaDocumentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiArchivio">
      <wsdl:input message="tns:ListaDocumentiArchivioSoapIn" />
      <wsdl:output message="tns:ListaDocumentiArchivioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaDocumenti">
      <soap:operation soapAction="http://www.utools.it/asp/WsComunicazioni/Comunicazioni/ListaDocumenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiArchivio">
      <soap:operation soapAction="http://www.utools.it/asp/WsComunicazioni/Comunicazioni/ListaDocumentiArchivio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaDocumenti">
      <soap12:operation soapAction="http://www.utools.it/asp/WsComunicazioni/Comunicazioni/ListaDocumenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiArchivio">
      <soap12:operation soapAction="http://www.utools.it/asp/WsComunicazioni/Comunicazioni/ListaDocumentiArchivio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://www.utools.it/asp/Comunicazioni/Comunicazioni.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://www.utools.it/asp/Comunicazioni/Comunicazioni.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>