Globale/Web References/AdempimentiOMW/Adempimenti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://utools.auaonline.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://utools.auaonline.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://utools.auaonline.it/">
      <s:element name="LeggiDocDaIncassi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeggiDocDaIncassiResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LeggiDocDaIncassiSoapIn">
    <wsdl:part name="parameters" element="tns:LeggiDocDaIncassi" />
  </wsdl:message>
  <wsdl:message name="LeggiDocDaIncassiSoapOut">
    <wsdl:part name="parameters" element="tns:LeggiDocDaIncassiResponse" />
  </wsdl:message>
  <wsdl:portType name="AdempimentiSoap">
    <wsdl:operation name="LeggiDocDaIncassi">
      <wsdl:input message="tns:LeggiDocDaIncassiSoapIn" />
      <wsdl:output message="tns:LeggiDocDaIncassiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdempimentiSoap" type="tns:AdempimentiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeggiDocDaIncassi">
      <soap:operation soapAction="http://utools.auaonline.it/LeggiDocDaIncassi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdempimentiSoap12" type="tns:AdempimentiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeggiDocDaIncassi">
      <soap12:operation soapAction="http://utools.auaonline.it/LeggiDocDaIncassi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Adempimenti">
    <wsdl:port name="AdempimentiSoap" binding="tns:AdempimentiSoap">
      <soap:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Adempimenti.asmx" />
    </wsdl:port>
    <wsdl:port name="AdempimentiSoap12" binding="tns:AdempimentiSoap12">
      <soap12:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Adempimenti.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>