Globale/Web References/SinistriOMW/Sinistri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://utools.auaonline.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://utools.auaonline.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://utools.auaonline.it/">
      <s:element name="ImportaSinistriAC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaSinistriACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportaSinistriACResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImportaSinistriACSoapIn">
    <wsdl:part name="parameters" element="tns:ImportaSinistriAC" />
  </wsdl:message>
  <wsdl:message name="ImportaSinistriACSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaSinistriACResponse" />
  </wsdl:message>
  <wsdl:portType name="SinistriSoap">
    <wsdl:operation name="ImportaSinistriAC">
      <wsdl:input message="tns:ImportaSinistriACSoapIn" />
      <wsdl:output message="tns:ImportaSinistriACSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SinistriSoap" type="tns:SinistriSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportaSinistriAC">
      <soap:operation soapAction="http://utools.auaonline.it/ImportaSinistriAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SinistriSoap12" type="tns:SinistriSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportaSinistriAC">
      <soap12:operation soapAction="http://utools.auaonline.it/ImportaSinistriAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sinistri">
    <wsdl:port name="SinistriSoap" binding="tns:SinistriSoap">
      <soap:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Sinistri.asmx" />
    </wsdl:port>
    <wsdl:port name="SinistriSoap12" binding="tns:SinistriSoap12">
      <soap12:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Sinistri.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>