Globale/Web References/WebLogin/Autenticazione.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dominio" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TipoLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TipoLogin">
        <s:restriction base="s:string">
          <s:enumeration value="UEBA" />
          <s:enumeration value="ESSIG" />
          <s:enumeration value="LIQUIDO" />
          <s:enumeration value="SERTEL" />
          <s:enumeration value="OWA" />
          <s:enumeration value="CRM" />
          <s:enumeration value="ESSIG_UNISALUTE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cookies" type="tns:ArrayOfMyCookie" />
          <s:element minOccurs="1" maxOccurs="1" name="Stato" type="tns:StatoLogin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMyCookie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MyCookie" nillable="true" type="tns:MyCookie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MyCookie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dominio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatoLogin">
        <s:restriction base="s:string">
          <s:enumeration value="LOGIN" />
          <s:enumeration value="LOGOUT" />
          <s:enumeration value="FALLITO" />
          <s:enumeration value="RETE_NON_DISPONIBILE" />
          <s:enumeration value="ATTESA" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="AutenticazioneSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutenticazioneSoap" type="tns:AutenticazioneSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticazioneSoap12" type="tns:AutenticazioneSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autenticazione">
    <wsdl:port name="AutenticazioneSoap" binding="tns:AutenticazioneSoap">
      <soap:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Autenticazione.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticazioneSoap12" binding="tns:AutenticazioneSoap12">
      <soap12:address location="https://utools.auaonline.it/asp/199999b2d6d2b43425a0ed4f919d6194/Autenticazione.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>