Globale/Web References/UploadSia/FileUploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastDateUploader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodAge" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastDateUploaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastDateUploaderResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAgeActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodAge" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAgeActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAgeActiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastRealDateUploader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodAge" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastRealDateUploaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastRealDateUploaderResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDateTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodAge" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="From" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="To" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDateTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDateTransferResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WsAutheticates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodAge" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WsAutheticatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WsAutheticatesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastDateUploaderSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastDateUploader" />
  </wsdl:message>
  <wsdl:message name="GetLastDateUploaderSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastDateUploaderResponse" />
  </wsdl:message>
  <wsdl:message name="IsAgeActiveSoapIn">
    <wsdl:part name="parameters" element="tns:IsAgeActive" />
  </wsdl:message>
  <wsdl:message name="IsAgeActiveSoapOut">
    <wsdl:part name="parameters" element="tns:IsAgeActiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastRealDateUploaderSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastRealDateUploader" />
  </wsdl:message>
  <wsdl:message name="GetLastRealDateUploaderSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastRealDateUploaderResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDateTransferSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDateTransfer" />
  </wsdl:message>
  <wsdl:message name="GetListDateTransferSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDateTransferResponse" />
  </wsdl:message>
  <wsdl:message name="WsAutheticatesSoapIn">
    <wsdl:part name="parameters" element="tns:WsAutheticates" />
  </wsdl:message>
  <wsdl:message name="WsAutheticatesSoapOut">
    <wsdl:part name="parameters" element="tns:WsAutheticatesResponse" />
  </wsdl:message>
  <wsdl:portType name="FileUploaderSoap">
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastDateUploader">
      <wsdl:input message="tns:GetLastDateUploaderSoapIn" />
      <wsdl:output message="tns:GetLastDateUploaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAgeActive">
      <wsdl:input message="tns:IsAgeActiveSoapIn" />
      <wsdl:output message="tns:IsAgeActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastRealDateUploader">
      <wsdl:input message="tns:GetLastRealDateUploaderSoapIn" />
      <wsdl:output message="tns:GetLastRealDateUploaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDateTransfer">
      <wsdl:input message="tns:GetListDateTransferSoapIn" />
      <wsdl:output message="tns:GetListDateTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WsAutheticates">
      <wsdl:input message="tns:WsAutheticatesSoapIn" />
      <wsdl:output message="tns:WsAutheticatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileUploaderSoap" type="tns:FileUploaderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastDateUploader">
      <soap:operation soapAction="http://tempuri.org/GetLastDateUploader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAgeActive">
      <soap:operation soapAction="http://tempuri.org/IsAgeActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastRealDateUploader">
      <soap:operation soapAction="http://tempuri.org/GetLastRealDateUploader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDateTransfer">
      <soap:operation soapAction="http://tempuri.org/GetListDateTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WsAutheticates">
      <soap:operation soapAction="http://tempuri.org/WsAutheticates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileUploaderSoap12" type="tns:FileUploaderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastDateUploader">
      <soap12:operation soapAction="http://tempuri.org/GetLastDateUploader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAgeActive">
      <soap12:operation soapAction="http://tempuri.org/IsAgeActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastRealDateUploader">
      <soap12:operation soapAction="http://tempuri.org/GetLastRealDateUploader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDateTransfer">
      <soap12:operation soapAction="http://tempuri.org/GetListDateTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WsAutheticates">
      <soap12:operation soapAction="http://tempuri.org/WsAutheticates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUploader">
    <wsdl:port name="FileUploaderSoap" binding="tns:FileUploaderSoap">
      <soap:address location="http://85.34.90.73:5000/WS_UGF/FileUploader.asmx" />
    </wsdl:port>
    <wsdl:port name="FileUploaderSoap12" binding="tns:FileUploaderSoap12">
      <soap12:address location="http://85.34.90.73:5000/WS_UGF/FileUploader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>