Globale/Web References/ServiziUniarea/accessocasa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="casa.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="casa.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="casa.org">
      <s:element name="checkSmsW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceCompagnia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkSmsWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkSmsWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkVisureW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceCompagnia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkVisureWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkVisureWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkMultiploW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceCompagnia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkMultiploWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkMultiploWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPostalizzazioneW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceCompagnia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPostalizzazioneWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkPostalizzazioneWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrazioneRicaricaW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UtenteSubaccount" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QuantitaSms" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CostoPacchetto" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="AcquistoUnicoSistema" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrazioneRicaricaWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrazioneRicaricaWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraVisuraW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdApp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Compagnia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Agenzia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Utente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Targa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoVeicolo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraVisuraWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistraVisuraWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoVisureW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Compagnia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodiceAgenzia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DataDal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoVisureWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElencoVisureWResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportTotaliW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Compagnia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodiceAgenzia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DataDal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportTotaliWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportTotaliWResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoRicaricheW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Compagnia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodiceAgenzia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DataDal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoRicaricheWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElencoRicaricheWResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDatiPostalizzazioneW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codici" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDatiPostalizzazioneWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDatiPostalizzazioneWResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificaEsistenzaCodiceFiscale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificaEsistenzaCodiceFiscaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verificaEsistenzaCodiceFiscaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificaEsistenzaEsistenzaEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificaEsistenzaEsistenzaEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verificaEsistenzaEsistenzaEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDatiUtenteByCodiceFiscale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDatiUtenteByCodiceFiscaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDatiUtenteByCodiceFiscaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDenominazioneGestore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceAgenzia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDenominazioneGestoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDenominazioneGestoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="checkSmsWSoapIn">
    <wsdl:part name="parameters" element="tns:checkSmsW" />
  </wsdl:message>
  <wsdl:message name="checkSmsWSoapOut">
    <wsdl:part name="parameters" element="tns:checkSmsWResponse" />
  </wsdl:message>
  <wsdl:message name="checkVisureWSoapIn">
    <wsdl:part name="parameters" element="tns:checkVisureW" />
  </wsdl:message>
  <wsdl:message name="checkVisureWSoapOut">
    <wsdl:part name="parameters" element="tns:checkVisureWResponse" />
  </wsdl:message>
  <wsdl:message name="checkMultiploWSoapIn">
    <wsdl:part name="parameters" element="tns:checkMultiploW" />
  </wsdl:message>
  <wsdl:message name="checkMultiploWSoapOut">
    <wsdl:part name="parameters" element="tns:checkMultiploWResponse" />
  </wsdl:message>
  <wsdl:message name="checkPostalizzazioneWSoapIn">
    <wsdl:part name="parameters" element="tns:checkPostalizzazioneW" />
  </wsdl:message>
  <wsdl:message name="checkPostalizzazioneWSoapOut">
    <wsdl:part name="parameters" element="tns:checkPostalizzazioneWResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrazioneRicaricaWSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrazioneRicaricaW" />
  </wsdl:message>
  <wsdl:message name="RegistrazioneRicaricaWSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrazioneRicaricaWResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraVisuraWSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraVisuraW" />
  </wsdl:message>
  <wsdl:message name="RegistraVisuraWSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraVisuraWResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoVisureWSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoVisureW" />
  </wsdl:message>
  <wsdl:message name="ElencoVisureWSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoVisureWResponse" />
  </wsdl:message>
  <wsdl:message name="ReportTotaliWSoapIn">
    <wsdl:part name="parameters" element="tns:ReportTotaliW" />
  </wsdl:message>
  <wsdl:message name="ReportTotaliWSoapOut">
    <wsdl:part name="parameters" element="tns:ReportTotaliWResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoRicaricheWSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoRicaricheW" />
  </wsdl:message>
  <wsdl:message name="ElencoRicaricheWSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoRicaricheWResponse" />
  </wsdl:message>
  <wsdl:message name="getDatiPostalizzazioneWSoapIn">
    <wsdl:part name="parameters" element="tns:getDatiPostalizzazioneW" />
  </wsdl:message>
  <wsdl:message name="getDatiPostalizzazioneWSoapOut">
    <wsdl:part name="parameters" element="tns:getDatiPostalizzazioneWResponse" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaCodiceFiscaleSoapIn">
    <wsdl:part name="parameters" element="tns:verificaEsistenzaCodiceFiscale" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaCodiceFiscaleSoapOut">
    <wsdl:part name="parameters" element="tns:verificaEsistenzaCodiceFiscaleResponse" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaEsistenzaEmailSoapIn">
    <wsdl:part name="parameters" element="tns:verificaEsistenzaEsistenzaEmail" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaEsistenzaEmailSoapOut">
    <wsdl:part name="parameters" element="tns:verificaEsistenzaEsistenzaEmailResponse" />
  </wsdl:message>
  <wsdl:message name="getDatiUtenteByCodiceFiscaleSoapIn">
    <wsdl:part name="parameters" element="tns:getDatiUtenteByCodiceFiscale" />
  </wsdl:message>
  <wsdl:message name="getDatiUtenteByCodiceFiscaleSoapOut">
    <wsdl:part name="parameters" element="tns:getDatiUtenteByCodiceFiscaleResponse" />
  </wsdl:message>
  <wsdl:message name="getDenominazioneGestoreSoapIn">
    <wsdl:part name="parameters" element="tns:getDenominazioneGestore" />
  </wsdl:message>
  <wsdl:message name="getDenominazioneGestoreSoapOut">
    <wsdl:part name="parameters" element="tns:getDenominazioneGestoreResponse" />
  </wsdl:message>
  <wsdl:message name="checkSmsWHttpGetIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkSmsWHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkVisureWHttpGetIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkVisureWHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkMultiploWHttpGetIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkMultiploWHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkPostalizzazioneWHttpGetIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkPostalizzazioneWHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegistrazioneRicaricaWHttpGetIn">
    <wsdl:part name="UtenteSubaccount" type="s:string" />
    <wsdl:part name="QuantitaSms" type="s:string" />
    <wsdl:part name="CostoPacchetto" type="s:string" />
    <wsdl:part name="AcquistoUnicoSistema" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrazioneRicaricaWHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegistraVisuraWHttpGetIn">
    <wsdl:part name="IdApp" type="s:string" />
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="Agenzia" type="s:string" />
    <wsdl:part name="Utente" type="s:string" />
    <wsdl:part name="Targa" type="s:string" />
    <wsdl:part name="TipoVeicolo" type="s:string" />
    <wsdl:part name="Esito" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistraVisuraWHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoVisureWHttpGetIn">
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="CodiceAgenzia" type="s:string" />
    <wsdl:part name="DataDal" type="s:string" />
    <wsdl:part name="DataAl" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoVisureWHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ReportTotaliWHttpGetIn">
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="CodiceAgenzia" type="s:string" />
    <wsdl:part name="DataDal" type="s:string" />
    <wsdl:part name="DataAl" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReportTotaliWHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ElencoRicaricheWHttpGetIn">
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="CodiceAgenzia" type="s:string" />
    <wsdl:part name="DataDal" type="s:string" />
    <wsdl:part name="DataAl" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoRicaricheWHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="getDatiPostalizzazioneWHttpGetIn">
    <wsdl:part name="codici" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDatiPostalizzazioneWHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaCodiceFiscaleHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscale" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaCodiceFiscaleHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaEsistenzaEmailHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaEsistenzaEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getDatiUtenteByCodiceFiscaleHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscale" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDatiUtenteByCodiceFiscaleHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getDenominazioneGestoreHttpGetIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDenominazioneGestoreHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkSmsWHttpPostIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkSmsWHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkVisureWHttpPostIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkVisureWHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkMultiploWHttpPostIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkMultiploWHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkPostalizzazioneWHttpPostIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="codiceCompagnia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkPostalizzazioneWHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegistrazioneRicaricaWHttpPostIn">
    <wsdl:part name="UtenteSubaccount" type="s:string" />
    <wsdl:part name="QuantitaSms" type="s:string" />
    <wsdl:part name="CostoPacchetto" type="s:string" />
    <wsdl:part name="AcquistoUnicoSistema" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrazioneRicaricaWHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegistraVisuraWHttpPostIn">
    <wsdl:part name="IdApp" type="s:string" />
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="Agenzia" type="s:string" />
    <wsdl:part name="Utente" type="s:string" />
    <wsdl:part name="Targa" type="s:string" />
    <wsdl:part name="TipoVeicolo" type="s:string" />
    <wsdl:part name="Esito" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistraVisuraWHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoVisureWHttpPostIn">
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="CodiceAgenzia" type="s:string" />
    <wsdl:part name="DataDal" type="s:string" />
    <wsdl:part name="DataAl" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoVisureWHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ReportTotaliWHttpPostIn">
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="CodiceAgenzia" type="s:string" />
    <wsdl:part name="DataDal" type="s:string" />
    <wsdl:part name="DataAl" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReportTotaliWHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ElencoRicaricheWHttpPostIn">
    <wsdl:part name="Compagnia" type="s:string" />
    <wsdl:part name="CodiceAgenzia" type="s:string" />
    <wsdl:part name="DataDal" type="s:string" />
    <wsdl:part name="DataAl" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoRicaricheWHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="getDatiPostalizzazioneWHttpPostIn">
    <wsdl:part name="codici" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDatiPostalizzazioneWHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaCodiceFiscaleHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscale" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaCodiceFiscaleHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaEsistenzaEmailHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verificaEsistenzaEsistenzaEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getDatiUtenteByCodiceFiscaleHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="codiceFiscale" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDatiUtenteByCodiceFiscaleHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getDenominazioneGestoreHttpPostIn">
    <wsdl:part name="codiceAgenzia" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDenominazioneGestoreHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="accessoCasaSoap">
    <wsdl:operation name="checkSmsW">
      <wsdl:input message="tns:checkSmsWSoapIn" />
      <wsdl:output message="tns:checkSmsWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkVisureW">
      <wsdl:input message="tns:checkVisureWSoapIn" />
      <wsdl:output message="tns:checkVisureWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkMultiploW">
      <wsdl:input message="tns:checkMultiploWSoapIn" />
      <wsdl:output message="tns:checkMultiploWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkPostalizzazioneW">
      <wsdl:input message="tns:checkPostalizzazioneWSoapIn" />
      <wsdl:output message="tns:checkPostalizzazioneWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrazioneRicaricaW">
      <wsdl:input message="tns:RegistrazioneRicaricaWSoapIn" />
      <wsdl:output message="tns:RegistrazioneRicaricaWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraVisuraW">
      <wsdl:input message="tns:RegistraVisuraWSoapIn" />
      <wsdl:output message="tns:RegistraVisuraWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoVisureW">
      <wsdl:input message="tns:ElencoVisureWSoapIn" />
      <wsdl:output message="tns:ElencoVisureWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportTotaliW">
      <wsdl:input message="tns:ReportTotaliWSoapIn" />
      <wsdl:output message="tns:ReportTotaliWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoRicaricheW">
      <wsdl:input message="tns:ElencoRicaricheWSoapIn" />
      <wsdl:output message="tns:ElencoRicaricheWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDatiPostalizzazioneW">
      <wsdl:input message="tns:getDatiPostalizzazioneWSoapIn" />
      <wsdl:output message="tns:getDatiPostalizzazioneWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaCodiceFiscale">
      <wsdl:input message="tns:verificaEsistenzaCodiceFiscaleSoapIn" />
      <wsdl:output message="tns:verificaEsistenzaCodiceFiscaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaEsistenzaEmail">
      <wsdl:input message="tns:verificaEsistenzaEsistenzaEmailSoapIn" />
      <wsdl:output message="tns:verificaEsistenzaEsistenzaEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDatiUtenteByCodiceFiscale">
      <wsdl:input message="tns:getDatiUtenteByCodiceFiscaleSoapIn" />
      <wsdl:output message="tns:getDatiUtenteByCodiceFiscaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDenominazioneGestore">
      <wsdl:input message="tns:getDenominazioneGestoreSoapIn" />
      <wsdl:output message="tns:getDenominazioneGestoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="accessoCasaHttpGet">
    <wsdl:operation name="checkSmsW">
      <wsdl:input message="tns:checkSmsWHttpGetIn" />
      <wsdl:output message="tns:checkSmsWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="checkVisureW">
      <wsdl:input message="tns:checkVisureWHttpGetIn" />
      <wsdl:output message="tns:checkVisureWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="checkMultiploW">
      <wsdl:input message="tns:checkMultiploWHttpGetIn" />
      <wsdl:output message="tns:checkMultiploWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="checkPostalizzazioneW">
      <wsdl:input message="tns:checkPostalizzazioneWHttpGetIn" />
      <wsdl:output message="tns:checkPostalizzazioneWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrazioneRicaricaW">
      <wsdl:input message="tns:RegistrazioneRicaricaWHttpGetIn" />
      <wsdl:output message="tns:RegistrazioneRicaricaWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraVisuraW">
      <wsdl:input message="tns:RegistraVisuraWHttpGetIn" />
      <wsdl:output message="tns:RegistraVisuraWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoVisureW">
      <wsdl:input message="tns:ElencoVisureWHttpGetIn" />
      <wsdl:output message="tns:ElencoVisureWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportTotaliW">
      <wsdl:input message="tns:ReportTotaliWHttpGetIn" />
      <wsdl:output message="tns:ReportTotaliWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoRicaricheW">
      <wsdl:input message="tns:ElencoRicaricheWHttpGetIn" />
      <wsdl:output message="tns:ElencoRicaricheWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getDatiPostalizzazioneW">
      <wsdl:input message="tns:getDatiPostalizzazioneWHttpGetIn" />
      <wsdl:output message="tns:getDatiPostalizzazioneWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaCodiceFiscale">
      <wsdl:input message="tns:verificaEsistenzaCodiceFiscaleHttpGetIn" />
      <wsdl:output message="tns:verificaEsistenzaCodiceFiscaleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaEsistenzaEmail">
      <wsdl:input message="tns:verificaEsistenzaEsistenzaEmailHttpGetIn" />
      <wsdl:output message="tns:verificaEsistenzaEsistenzaEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getDatiUtenteByCodiceFiscale">
      <wsdl:input message="tns:getDatiUtenteByCodiceFiscaleHttpGetIn" />
      <wsdl:output message="tns:getDatiUtenteByCodiceFiscaleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getDenominazioneGestore">
      <wsdl:input message="tns:getDenominazioneGestoreHttpGetIn" />
      <wsdl:output message="tns:getDenominazioneGestoreHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="accessoCasaHttpPost">
    <wsdl:operation name="checkSmsW">
      <wsdl:input message="tns:checkSmsWHttpPostIn" />
      <wsdl:output message="tns:checkSmsWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="checkVisureW">
      <wsdl:input message="tns:checkVisureWHttpPostIn" />
      <wsdl:output message="tns:checkVisureWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="checkMultiploW">
      <wsdl:input message="tns:checkMultiploWHttpPostIn" />
      <wsdl:output message="tns:checkMultiploWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="checkPostalizzazioneW">
      <wsdl:input message="tns:checkPostalizzazioneWHttpPostIn" />
      <wsdl:output message="tns:checkPostalizzazioneWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrazioneRicaricaW">
      <wsdl:input message="tns:RegistrazioneRicaricaWHttpPostIn" />
      <wsdl:output message="tns:RegistrazioneRicaricaWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraVisuraW">
      <wsdl:input message="tns:RegistraVisuraWHttpPostIn" />
      <wsdl:output message="tns:RegistraVisuraWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoVisureW">
      <wsdl:input message="tns:ElencoVisureWHttpPostIn" />
      <wsdl:output message="tns:ElencoVisureWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportTotaliW">
      <wsdl:input message="tns:ReportTotaliWHttpPostIn" />
      <wsdl:output message="tns:ReportTotaliWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoRicaricheW">
      <wsdl:input message="tns:ElencoRicaricheWHttpPostIn" />
      <wsdl:output message="tns:ElencoRicaricheWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getDatiPostalizzazioneW">
      <wsdl:input message="tns:getDatiPostalizzazioneWHttpPostIn" />
      <wsdl:output message="tns:getDatiPostalizzazioneWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaCodiceFiscale">
      <wsdl:input message="tns:verificaEsistenzaCodiceFiscaleHttpPostIn" />
      <wsdl:output message="tns:verificaEsistenzaCodiceFiscaleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaEsistenzaEmail">
      <wsdl:input message="tns:verificaEsistenzaEsistenzaEmailHttpPostIn" />
      <wsdl:output message="tns:verificaEsistenzaEsistenzaEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getDatiUtenteByCodiceFiscale">
      <wsdl:input message="tns:getDatiUtenteByCodiceFiscaleHttpPostIn" />
      <wsdl:output message="tns:getDatiUtenteByCodiceFiscaleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getDenominazioneGestore">
      <wsdl:input message="tns:getDenominazioneGestoreHttpPostIn" />
      <wsdl:output message="tns:getDenominazioneGestoreHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="accessoCasaSoap" type="tns:accessoCasaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkSmsW">
      <soap:operation soapAction="casa.org/checkSmsW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkVisureW">
      <soap:operation soapAction="casa.org/checkVisureW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkMultiploW">
      <soap:operation soapAction="casa.org/checkMultiploW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPostalizzazioneW">
      <soap:operation soapAction="casa.org/checkPostalizzazioneW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrazioneRicaricaW">
      <soap:operation soapAction="casa.org/RegistrazioneRicaricaW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraVisuraW">
      <soap:operation soapAction="casa.org/RegistraVisuraW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoVisureW">
      <soap:operation soapAction="casa.org/ElencoVisureW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportTotaliW">
      <soap:operation soapAction="casa.org/ReportTotaliW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoRicaricheW">
      <soap:operation soapAction="casa.org/ElencoRicaricheW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiPostalizzazioneW">
      <soap:operation soapAction="casa.org/getDatiPostalizzazioneW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaCodiceFiscale">
      <soap:operation soapAction="casa.org/verificaEsistenzaCodiceFiscale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaEsistenzaEmail">
      <soap:operation soapAction="casa.org/verificaEsistenzaEsistenzaEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiUtenteByCodiceFiscale">
      <soap:operation soapAction="casa.org/getDatiUtenteByCodiceFiscale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDenominazioneGestore">
      <soap:operation soapAction="casa.org/getDenominazioneGestore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="accessoCasaSoap12" type="tns:accessoCasaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkSmsW">
      <soap12:operation soapAction="casa.org/checkSmsW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkVisureW">
      <soap12:operation soapAction="casa.org/checkVisureW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkMultiploW">
      <soap12:operation soapAction="casa.org/checkMultiploW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPostalizzazioneW">
      <soap12:operation soapAction="casa.org/checkPostalizzazioneW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrazioneRicaricaW">
      <soap12:operation soapAction="casa.org/RegistrazioneRicaricaW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraVisuraW">
      <soap12:operation soapAction="casa.org/RegistraVisuraW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoVisureW">
      <soap12:operation soapAction="casa.org/ElencoVisureW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportTotaliW">
      <soap12:operation soapAction="casa.org/ReportTotaliW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoRicaricheW">
      <soap12:operation soapAction="casa.org/ElencoRicaricheW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiPostalizzazioneW">
      <soap12:operation soapAction="casa.org/getDatiPostalizzazioneW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaCodiceFiscale">
      <soap12:operation soapAction="casa.org/verificaEsistenzaCodiceFiscale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaEsistenzaEmail">
      <soap12:operation soapAction="casa.org/verificaEsistenzaEsistenzaEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiUtenteByCodiceFiscale">
      <soap12:operation soapAction="casa.org/getDatiUtenteByCodiceFiscale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDenominazioneGestore">
      <soap12:operation soapAction="casa.org/getDenominazioneGestore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="accessoCasaHttpGet" type="tns:accessoCasaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="checkSmsW">
      <http:operation location="/checkSmsW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkVisureW">
      <http:operation location="/checkVisureW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkMultiploW">
      <http:operation location="/checkMultiploW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPostalizzazioneW">
      <http:operation location="/checkPostalizzazioneW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrazioneRicaricaW">
      <http:operation location="/RegistrazioneRicaricaW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraVisuraW">
      <http:operation location="/RegistraVisuraW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoVisureW">
      <http:operation location="/ElencoVisureW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportTotaliW">
      <http:operation location="/ReportTotaliW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoRicaricheW">
      <http:operation location="/ElencoRicaricheW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiPostalizzazioneW">
      <http:operation location="/getDatiPostalizzazioneW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaCodiceFiscale">
      <http:operation location="/verificaEsistenzaCodiceFiscale" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaEsistenzaEmail">
      <http:operation location="/verificaEsistenzaEsistenzaEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiUtenteByCodiceFiscale">
      <http:operation location="/getDatiUtenteByCodiceFiscale" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDenominazioneGestore">
      <http:operation location="/getDenominazioneGestore" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="accessoCasaHttpPost" type="tns:accessoCasaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="checkSmsW">
      <http:operation location="/checkSmsW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkVisureW">
      <http:operation location="/checkVisureW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkMultiploW">
      <http:operation location="/checkMultiploW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPostalizzazioneW">
      <http:operation location="/checkPostalizzazioneW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrazioneRicaricaW">
      <http:operation location="/RegistrazioneRicaricaW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraVisuraW">
      <http:operation location="/RegistraVisuraW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoVisureW">
      <http:operation location="/ElencoVisureW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportTotaliW">
      <http:operation location="/ReportTotaliW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoRicaricheW">
      <http:operation location="/ElencoRicaricheW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiPostalizzazioneW">
      <http:operation location="/getDatiPostalizzazioneW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaCodiceFiscale">
      <http:operation location="/verificaEsistenzaCodiceFiscale" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaEsistenzaEsistenzaEmail">
      <http:operation location="/verificaEsistenzaEsistenzaEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatiUtenteByCodiceFiscale">
      <http:operation location="/getDatiUtenteByCodiceFiscale" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDenominazioneGestore">
      <http:operation location="/getDenominazioneGestore" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="accessoCasa">
    <wsdl:port name="accessoCasaSoap" binding="tns:accessoCasaSoap">
      <soap:address location="https://ws.auaonline.it/accessocasa.asmx" />
    </wsdl:port>
    <wsdl:port name="accessoCasaSoap12" binding="tns:accessoCasaSoap12">
      <soap12:address location="https://ws.auaonline.it/accessocasa.asmx" />
    </wsdl:port>
    <wsdl:port name="accessoCasaHttpGet" binding="tns:accessoCasaHttpGet">
      <http:address location="https://ws.auaonline.it/accessocasa.asmx" />
    </wsdl:port>
    <wsdl:port name="accessoCasaHttpPost" binding="tns:accessoCasaHttpPost">
      <http:address location="https://ws.auaonline.it/accessocasa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>