GestioneDocumenti/Web References/test/UploaderUnitools.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:pogo="http://guidewire.com/it/unipol/sx/service/unitools/UploaderUnitoolsBean" xmlns:tns="http://guidewire.com/it/unipol/sx/service/unitools/UploaderUnitools" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="UploaderUnitools" targetNamespace="http://guidewire.com/it/unipol/sx/service/unitools/UploaderUnitools" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:gw="http://guidewire.com/xsd" elementFormDefault="qualified" targetNamespace="http://guidewire.com/it/unipol/sx/service/unitools/UploaderUnitools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="soapheaders.xsd.xml" namespace="http://guidewire.com/ws/soapheaders" />
      <xs:import namespace="http://guidewire.com/it/unipol/sx/service/unitools/UploaderUnitoolsBean" />
      <xs:element name="uniUploadToLiquido">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="claimNumber" type="xs:string" />
            <xs:element minOccurs="0" name="docType" type="xs:string" />
            <xs:element minOccurs="0" name="mimeType" type="xs:string" />
            <xs:element minOccurs="0" name="nameDoc" type="xs:string" />
            <xs:element minOccurs="0" name="agentUser" type="xs:string" />
            <xs:element gw:type="java.util.Date" minOccurs="0" name="dateDoc" type="xs:dateTime" />
            <xs:element minOccurs="0" name="byteCodeDoc" type="xs:hexBinary" />
            <xs:element gw:viewas="list" minOccurs="0" name="posDoc">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="note" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uniUploadToLiquidoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="pogo:UploaderUnitoolsBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IllegalArgumentException">
        <xs:complexType />
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType />
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType />
      </xs:element>
      <xs:element name="uniDownloadFromLiquido">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="docUID" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uniDownloadFromLiquidoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="docINList">
        <xs:complexType />
      </xs:element>
      <xs:element name="docINListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element gw:viewas="list" minOccurs="0" name="return">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://guidewire.com/it/unipol/sx/service/unitools/UploaderUnitoolsBean" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="UploaderUnitoolsBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorDescription" type="xs:string" />
          <xs:element minOccurs="0" name="esito" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="uniUploadToLiquido">
    <wsdl:part name="parameters" element="tns:uniUploadToLiquido" />
  </wsdl:message>
  <wsdl:message name="uniUploadToLiquidoResponse">
    <wsdl:part name="parameters" element="tns:uniUploadToLiquidoResponse" />
  </wsdl:message>
  <wsdl:message name="IllegalArgumentException">
    <wsdl:part name="IllegalArgumentException" element="tns:IllegalArgumentException" />
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException" />
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException" />
  </wsdl:message>
  <wsdl:message name="uniDownloadFromLiquido">
    <wsdl:part name="parameters" element="tns:uniDownloadFromLiquido" />
  </wsdl:message>
  <wsdl:message name="uniDownloadFromLiquidoResponse">
    <wsdl:part name="parameters" element="tns:uniDownloadFromLiquidoResponse" />
  </wsdl:message>
  <wsdl:message name="docINList">
    <wsdl:part name="parameters" element="tns:docINList" />
  </wsdl:message>
  <wsdl:message name="docINListResponse">
    <wsdl:part name="parameters" element="tns:docINListResponse" />
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication" />
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale" />
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language" />
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id" />
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id" />
  </wsdl:message>
  <wsdl:portType name="UploaderUnitoolsPortType">
    <wsdl:operation name="uniUploadToLiquido">
      <wsdl:input name="uniUploadToLiquido" message="tns:uniUploadToLiquido" />
      <wsdl:output name="uniUploadToLiquidoResponse" message="tns:uniUploadToLiquidoResponse" />
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException" />
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException" />
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException" />
    </wsdl:operation>
    <wsdl:operation name="uniDownloadFromLiquido">
      <wsdl:input name="uniDownloadFromLiquido" message="tns:uniDownloadFromLiquido" />
      <wsdl:output name="uniDownloadFromLiquidoResponse" message="tns:uniDownloadFromLiquidoResponse" />
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException" />
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException" />
    </wsdl:operation>
    <wsdl:operation name="docINList">
      <wsdl:input name="docINList" message="tns:docINList" />
      <wsdl:output name="docINListResponse" message="tns:docINListResponse" />
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploaderUnitoolsSoap12Binding" type="tns:UploaderUnitoolsPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uniUploadToLiquido">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="uniUploadToLiquido">
        <soap12:body use="literal" />
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal" />
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal" />
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal" />
      </wsdl:input>
      <wsdl:output name="uniUploadToLiquidoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault use="literal" name="IllegalArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault use="literal" name="RequiredFieldException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uniDownloadFromLiquido">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="uniDownloadFromLiquido">
        <soap12:body use="literal" />
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal" />
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal" />
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal" />
      </wsdl:input>
      <wsdl:output name="uniDownloadFromLiquidoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault use="literal" name="IllegalArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="docINList">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="docINList">
        <soap12:body use="literal" />
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal" />
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal" />
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal" />
      </wsdl:input>
      <wsdl:output name="docINListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploaderUnitoolsSoap11Binding" type="tns:UploaderUnitoolsPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uniUploadToLiquido">
      <soap11:operation soapAction="" style="document" />
      <wsdl:input name="uniUploadToLiquido">
        <soap11:body use="literal" />
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal" />
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal" />
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal" />
      </wsdl:input>
      <wsdl:output name="uniUploadToLiquidoResponse">
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault use="literal" name="IllegalArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault use="literal" name="RequiredFieldException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uniDownloadFromLiquido">
      <soap11:operation soapAction="" style="document" />
      <wsdl:input name="uniDownloadFromLiquido">
        <soap11:body use="literal" />
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal" />
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal" />
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal" />
      </wsdl:input>
      <wsdl:output name="uniDownloadFromLiquidoResponse">
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault use="literal" name="IllegalArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="docINList">
      <soap11:operation soapAction="" style="document" />
      <wsdl:input name="docINList">
        <soap11:body use="literal" />
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal" />
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal" />
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal" />
      </wsdl:input>
      <wsdl:output name="docINListResponse">
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploaderUnitools">
    <wsdl:port name="UploaderUnitoolsSoap12Port" binding="tns:UploaderUnitoolsSoap12Binding">
      <soap12:address location="http://lxfmjbliqcc.servizi.gr-u.it/essigSXCC/ws/it/unipol/sx/service/unitools/UploaderUnitools" />
      <gwwsdl:address location="${cc}/ws/it/unipol/sx/service/unitools/UploaderUnitools" />
    </wsdl:port>
    <wsdl:port name="UploaderUnitoolsSoap11Port" binding="tns:UploaderUnitoolsSoap11Binding">
      <soap11:address location="http://lxfmjbliqcc.servizi.gr-u.it/essigSXCC/ws/it/unipol/sx/service/unitools/UploaderUnitools/soap11" />
      <gwwsdl:address location="${cc}/ws/it/unipol/sx/service/unitools/UploaderUnitools/soap11" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>